nav.navbar.navbar-inverse
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Petronas Contest
    .navbar-collapse.collapse
      ul.nav.navbar-nav.pull-right
        if (user)
          li
            a(href='/admin/designs') All Designs
          li
            a(href='/admin/designs/pendingList') Pending Designs
          li
            a(href='/admin/designs/approvedList') Approved Designs
          li
            a(href='/admin/designs/rejectedList') Rejected Designs
          li
            a(href='/admin/designs/pinnedList') Pinned Designs
          li
            a(href='/logout') Logout
        else
          li
            a(href='/login') Login
    // /.nav-collapse

