extends ../layouts/default

block content
  .container
    form(name="login", class='form-signin' action="/login", method="POST")
      h2.form-signin-heading Please sign in
      label.sr-only(for='inputEmail') Email address
      input#inputEmail.form-control(type='text', placeholder='Email address', required='', autofocus='', name='username')
      label.sr-only(for='inputPassword') Password
      input#inputPassword.form-control(type='password', placeholder='Password', required='', name='password')
      .checkbox
      label
      input(type='checkbox', value='remember-me')
      |  Remember me
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
